################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Debug/
*.vsarduino.h
*.vcxproj.user
