################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/
/__vm/
/Debug/
*.vsarduino.h
*.vcxproj.user
/Release
/__vm/Micro Extensions/MultiPlotVisualization
